{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load humanize %}

{% block content %}

<div class="container mx-auto bg-white p-6">

    <p class="text-xl block font-semibold mt-3">เลขที่คำสั่งซื้อ: {{ order.id }}</p>
    <p class="text-lg block font-medium mt-3">วันที่ : {{ order.order_date }}</p>

</div>

<div class="container mx-auto bg-white p-6 rounded-md shadow-md grid grid-cols-1 gap-8 border md:grid-cols-3 m-2">

    <!-- Customer Information -->
    <div class="col-span-1">
        <p class="text-xl font-semibold mb-2">ข้อมูลลูกค้า</p>
        <div class="mt-10 text-lg">
            <p><strong>ชื่อลูกค้า :</strong> {{ order.first_name }} {{ order.last_name }}</p>
            <p>( {{ order.user }} {{ order.user.first_name }} {{ order.user.last_name }} )</p>
            <p><strong>ที่อยู่ : </strong> {{ order.address }}</p>
            <p><strong>เบอร์โทรศัพท์ : </strong> {{ order.phone_number }}</p>
            <p><strong>หมายเหตุ : </strong> {{ order.note }}</p>
        </div>
        <div class="mt-5">
            <p><strong>Delivery Location:</strong> {{ order.delivery_location }}</p>
        </div>
    </div>

    <!-- Payment Proof -->
    <div class="col-span-1">
        <p class="text-xl font-semibold mb-2">หลักฐานการชำระเงิน</p>
        <div class="mt-10 border w-60 rounded-md">
        <img src="https://www.scb.co.th/content/dam/scb/personal-banking/cards/prepaid-cards/images/how-to/transfer/planet-how-to-transfer-img-07.png"
            alt="Payment Proof" class="w-60 p-6">
        </div>
    </div>

    <div class="col-span-1">
        <p class="text-xl font-semibold mb-2">ข้อมูลสินค้า</p>

        <div class="mt-10 text-lg">
            <p><strong>สินค้า : </strong> {{ order.product.name }}</p>
            <p><strong>ราคา : </strong> {{ order.price|intcomma }}</p>
            <p><strong>จำนวน : </strong> {{ order.quantity|intcomma }}</p>
            <p><strong>ราคารวม : </strong> {{ order.total_price|intcomma }}</p>
            <!-- Add product image -->
            <div class="border mt-10 rounded-md w-60">
            <img src="{{ order.product.image.url }}" alt="{{ order.product.name }}" class="mt-4 p-6 w-60">
        </div>
        </div>
    </div>

</div>






{% endblock %}