{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% load humanize %}

{% block content %}

<div class="flex justify-center items-center">
    <div class="w-96 p-6 bg-white">
        <p class="text-2xl block text-center">Overview
        </p>
        <hr class="mt-3 h-1 bg-gray-500">
    </div>
</div>

<div class="max-w-screen-xl mx-auto p-4 bg-white mt-5 mb-10 rounded-lg h-screen">
    <div class="container mx-auto border rounded-lg border-gray-300 shadow-lg shadow-gray-500 relative bg-white">

        <div class="grid grid-cols-1 lg:grid-cols-4 gap-4 p-5">
           
            <div class="bg-white w-full h-24 border rounded-lg shadow-lg grid justify-center items-center">
                <p class="w-full p-2 flex justify-center items-center text-lg gap-x-5"><i class="fa-solid fa-baht-sign"></i> ยอดขายรวม</p>
                <p class="text-xl flex gap-x-5 justify-center items-center"> {{ t|intcomma }}</p>
            </div>
            <div class="bg-white w-full h-24 border rounded-lg shadow-lg grid justify-center items-center">
                <p class="w-full p-2 flex justify-center items-center text-lg gap-x-5"><i class="fa-solid fa-user-tie text-xl"></i> จำนวนผู้ดูแลระบบ</p>
                <p class="text-xl flex gap-x-5 justify-center items-center"> {{ superuser }}</p>
            </div>
            <div class="bg-white w-full h-24 border rounded-lg shadow-lg grid justify-center items-center">
                <p class="w-full p-2 flex justify-center items-center text-lg gap-x-5"><i class="fa-solid fa-id-badge"></i> จำนวนช่าง</p>
                <p class="text-xl flex gap-x-5 justify-center items-center"> {{ staff }}</p>
            </div>
            <div class="bg-white w-full h-24 border rounded-lg shadow-lg grid justify-center items-center">
                <p class="w-full p-2 flex justify-center items-center text-lg gap-x-5"><i class="fa-solid fa-users-line text-xl"></i> จำนวนลูกค้า</p>
                <p class="text-xl flex gap-x-5 justify-center items-center"> {{ members }}</p>
            </div>

        </div>

        <div class="mt-2 px-5 grid-cols-1 grid md:grid-cols-2 gap-4 w-full">
            <div class="grid items-end">
            <p class="text-lg"><strong>ยอดขายทั้งหมด</strong></p>
            <p class="text-lg">แบ่งตามหมวดหมู่</p>
            </div>
        <form method="post" class="">
            <p class="text-lg"><strong>ยอดขายเดือน</strong>  {{ month }}   {{ year }}</p>
            {% csrf_token %}
            <div class="mt-2 grid grid-cols-3 gap-2 items-center">
            {{ form|crispy }}
            <button type="submit" class="text-white bg-amber-500 px-3 rounded-lg h-fit py-2 hover:bg-amber-700 border">ดูกราฟ</button>
            </div>
            
        </form>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-2 p-5">
            <div id="chart" class="p-5 border rounded-lg border-[#d8d0d0]">{{ chart_bar_html|safe }}</div>
            <div id="chart" class="p-5 border rounded-lg border-[#d8d0d0]">{{ chart_html|safe }}</div>
        </div>

    </div>
</div>

<script>
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }
</script>


{% endblock %}