{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load humanize %}

{% block content %}

<div class="flex justify-center items-center">
    <div class="w-96 rounded-md px-6 mt-3">
        <p class="text-2xl block text-center font-medium mt-4">คำสั่งซื้อที่ {{ orders.id }}</p>
    </div>
</div>

<div class="flex justify-center mt-4 flex-wrap mx-3">
    <div
        class="container bg-[#1e293b] py-2 {% if MeasureSize %} rounded-t-lg {% else %} rounded-lg {% endif %} overflow-hidden flex justify-between justify-items-center text-white">
        <div class="p-4">{{ orders.product.name }}</div>
        <div class="p-4">จำนวน : {{ orders.quantity }}</div>
    </div>
</div>


{% for i in MeasureSize %}
<div class="flex justify-center flex-nowrap mx-3 ">

    <div
        class="grid justify-start w-full md:grid-cols-5 flex-wrap max-w-screen-2xl overflow-auto border border-gray-700 {% if forloop.last %} rounded-b-lg {% endif %}">

        <div class="w-32  p-3 font-bold">ชิ้นที่ : {{ forloop.counter }}</div>
        <div class="grid grid-cols-3 p-2">
            <div class="p-2">
                <p class="font-bold">สูง</p> {{ i.h}} cm
            </div>
            <div class="p-2">
                <p class="font-bold">กว้าง</p> {{i.w}} cm
            </div>
            <div class="p-2">
                <p class="font-bold">หนา</p> {{i.d}} cm
            </div>

        </div>


        <div class="w-full">
            <p class="p-2 font-bold">หมายเหตุ</p>
            {% if i.note %}
            <p class="p-2 text-wrap h-fit">{{i.note}}</p>
            {% else %}
            ไม่ระบุ
            {% endif %}
        </div>

        <div class="grid grid-cols-2 gap-2">
            <div class="flex justify-center items-center">
                <button onclick="toggleModal({{forloop.counter}})"
                    class="p-2 border rounded-md bg-amber-400 hover:bg-amber-500">รูปภาพเพิ่มเติม</button>
            </div>

            <div class="flex justify-center items-center">
                <a href="{% url 'measure_size_detail' i.id forloop.counter %}"
                    class="p-2 border rounded-md bg-stone-500 hover:bg-stone-700 text-white">จัดการวัสดุ</a>
            </div>
        </div>

        <div id="modal{{forloop.counter}}"
            class="hidden rounded-lg fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center overflow-y-auto">

            <div class="m-4 p-2 border rounded-lg overflow-y-auto bg-white max-w-full max-h-full">
                <div class="flex justify-end">
                    <button onclick="toggleModal({{forloop.counter}})"
                        class="mt-2 p-2 border rounded-md bg-red-400 hover:bg-red-500">ปิด</button>
                </div>
                <div class="font-bold text-lg flex justify-center">ชิ้นที่ : {{ forloop.counter }}</div>
                <div class="m-2 rounded-lg grid md:grid-cols-3">

                    {% if i.image1 %}
                    <div class="p-2">รูปภาพ 1 <img src="{{ i.image1.url }}" alt=""
                            class="h-52 w-full overflow-hidden object-cover my-2 rounded-md"></div>
                    {% endif %}
                    {% if i.image2 %}
                    <div class="p-2">รูปภาพ 2 <img src="{{ i.image2.url }}" alt=""
                            class="h-52 w-full overflow-hidden object-cover my-2 rounded-md"></div>
                    {% endif %}
                    {% if i.image3 %}
                    <div class="p-2">รูปภาพ 3 <img src="{{ i.image3.url }}" alt=""
                            class="h-52 w-full overflow-hidden object-cover my-2 rounded-md"></div>
                    {% endif %}
                    {% if i.image4 %}
                    <div class="p-2">รูปภาพ 4 <img src="{{i.image4.url }}" alt=""
                            class="h-52 w-full overflow-hidden object-cover my-2 rounded-md"></div>
                    {% endif %}
                    {% if i.image5 %}
                    <div class="p-2">รูปภาพ 5 <img src="{{ i.image5.url }}" alt=""
                            class="h-52 w-full overflow-hidden object-cover my-2 rounded-md"></div>
                    {% endif %}
                    {% if i.image6 %}
                    <div class="p-2">รูปภาพ 6 <img src="{{ i.image6.url }}" alt=""
                            class="h-52 w-full overflow-hidden object-cover my-2 rounded-md"></div>
                    {% endif %}


                </div>
            </div>


        </div>

        <script>
            function toggleModal(counter) {
                var modal = document.getElementById("modal" + counter);
                if (modal.classList.contains('hidden')) {
                    modal.classList.remove('hidden');
                } else {
                    modal.classList.add('hidden');
                }
            }
        </script>


        <div class="justify-around flex w-96 my-4">
            <div class="p-2 px-5"><a
                    href="/manager/size_save_detail/{{ orders.id }}/{{ i.id }}/edit_size/{{ forloop.counter }}/"
                    class="hover:scale-105"><i class="fa-regular fa-pen-to-square"></i>&nbsp;แก้ไข</a>
            </div>

            <div class="p-2 px-5"><a href="{% url 'delete_size' orders.id i.id %}" class="hover:scale-105"><i
                        class="fa-solid fa-trash-can hover:scale-105"></i>&nbsp;ลบ</a>
            </div>
        </div>

    </div>
</div>
{% endfor %}






<div class="flex justify-center mt-4 flex-wrap mx-2 ">
    <div class="m-2" x-data="{ open: false }">
        <div class="flex justify-end items-center">
            {% if MeasureSize.count == orders.quantity %}
            {% else %}
            <button @click="open = true" class="p-2 px-8 hover:scale-105 border rounded-md bg-[#47791e] text-white"><i
                    class="fa-solid fa-plus"></i> &nbsp;&nbsp;เพิ่มบันทึก</button>
            {% endif %}

            <div x-show="open" @click.away="open = false"
                class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center">
                <div class="bg-white p-2 m-2 rounded-lg shadow-xl border border-[#2B3843]  flex-wrap">
                    <div class="justify-end flex">
                        <button @click="open = false"
                            class="bg-gray-500 hover:bg-gray-700 text-white px-4 py-2 rounded">ปิด</button>
                    </div>


                    <p class="text-xl font-family mb-4 text-center font-bold">เพิ่มบันทึก</p>

                    <form action="{% url 'add_size' orders.id %}" method="post" enctype="multipart/form-data"
                        class=" text-sm">
                        {% csrf_token %}
                        <div class="grid grid-cols-2 md:grid-cols-3 gap-3">
                            {{ form|crispy }}
                        </div>


                        <div class="flex justify-center">
                            <button type="submit"
                                class="my-4 bg-[#39144b] hover:bg-[#5e3075] text-white px-5 py-2.5 rounded">บันทึก</button>
                        </div>

                    </form>
                    <!-- <button @click="open = false" class="mt-4 bg-gray-500 text-white px-4 py-2 rounded">ปิด</button> -->
                </div>
            </div>

        </div>
    </div>
</div>
</div>



{% endblock %}