<div id="deposit" class="hidden fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center">
    <div id="myModal-content"
        class="bg-neutral-300 border-spacing-1 border border-neutral-900 w-80 p-8 rounded shadow-lg">
        <div class="flex justify-end">
            <button id="close" onclick="closeModal_deposit()"
                class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 justify-end px-4 rounded">
                ปิด
            </button>
        </div>
        {% if order.deposit_proof %}
        <img src="{{ order.deposit_proof.url}}" alt="" class="w-80 my-2 h-full">
        {% else %}
        <p>ไม่มีข้อมูล</p>
        {% endif %}
        {% if order.deposit_payment == True %}
        <button onclick="printProductInfo()"
            class="mt-4 w-full border border-[#464040] text-black py-2 px-4 rounded-md hover:bg-gray-700 hover:text-white">
            <i class="fa-solid fa-print mx-4"></i>พิมพ์ใบเสร็จ</button>
        {% endif %}
    </div>
</div>