<script>
    function showModal_payment() {
        document.getElementById("payment").classList.remove('hidden');
    }

    function closeModal_payment() {
        document.getElementById("payment").classList.add('hidden');
    }
</script>

<script>
    function payment_edit() {
        document.getElementById("payment_edit").classList.remove('hidden');
    }

    function closepayment_edit() {
        document.getElementById("payment_edit").classList.add('hidden');
    }
</script>


<script>
    function payment_upload() {
        document.getElementById("payment_upload").classList.remove('hidden');
    }

    function closepayment_upload() {
        document.getElementById("payment_upload").classList.add('hidden');
    }
</script>


<script>
    function showModal_deposit() {
        document.getElementById("deposit").classList.remove('hidden');
    }

    function closeModal_deposit() {
        document.getElementById("deposit").classList.add('hidden');
    }
</script>

<script>
    function deposit_edit() {
        document.getElementById("deposit_edit").classList.remove('hidden');
    }

    function closedeposit_edit() {
        document.getElementById("deposit_edit").classList.add('hidden');
    }
</script>

<script>
    function showModal() {
        document.getElementById("myModal").classList.remove('hidden');
    }

    function closeModal() {
        document.getElementById("myModal").classList.add('hidden');
    }
</script>

<script>
    function deposit_upload() {
        document.getElementById("deposit_upload").classList.remove('hidden');
    }

    function closedeposit_upload() {
        document.getElementById("deposit_upload").classList.add('hidden');
    }
</script>

<script>
    function edit_order() {
        document.getElementById("edit_order").classList.remove('hidden');
    }

    function close_edit_order() {
        document.getElementById("edit_order").classList.add('hidden');
    }
</script>

<script>
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }
</script>