{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% load humanize %}


{% block content %}

<div class="flex justify-center items-center mt-10 text-center">
    <div class="rounded-md p-6">
        <div class="container mx-auto">

            <p class="text-8xl font-bold mb-10">Oops !!!</p>
        
        
            <p class="text-2xl mb-10">ขออภัย หน้านี้ไม่มีอยู่ หรือไม่อนุญาต</p>
        
            
            <a href="/">
            <button onclick=""  class="bg-gray-600 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded mb-10">
                ย้อนกลับ
            </button>
        </a>
        </div>
        <hr class="mt-3 h-1 bg-gray-500 px-2">
    </div>
</div>




<script>
    function goBack() {
        window.history.back();
    }
</script>

{% endblock %}