<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<body class="flex justify-center" style="font-family: kanit;">

    <div class="container mt-10">
        <div class="grid grid-cols-3 gap-1">
            <div class=""></div>
            <div class=" flex gap-1">
                <input type="text" class="border p-2 w-full rounded" name="" id="" placeholder="ค้นหา">
                <button class="p-2 bg-blue-700 rounded text-white hover:bg-blue-900">ค้นหา</button>
            </div>
        
            <div class="flex justify-end ">
                <a href="#" class="hover:scale-105">
                <i class='bx bx-cart text-xl p-2 border rounded bg-slate-900 text-white'></i>
            </a>
            </div>

        </div>

</body>

</html>