<a href="" class="relative inline-flex items-center px-3 p-2 md:px-5 md:py-2 hover:bg-gray-200">1</a>
<a href="" class="relative inline-flex items-center px-3 p-2 md:px-5 md:py-2 hover:bg-gray-200">2</a>
<a href="" class="relative inline-flex items-center px-3 p-2 md:px-5 md:py-2 hover:bg-gray-200">3</a>
<a href="" class="relative inline-flex items-center px-3 p-2 md:px-5 md:py-2 hover:bg-gray-200">4</a>
<a href="" class="relative inline-flex items-center px-3 p-2 md:px-5 md:py-2 hover:bg-gray-200">5</a>
<a href="" class="relative inline-flex items-center px-3 p-2 md:px-5 md:py-2 hover:bg-gray-200">6</a>
<a href="" class="relative inline-flex items-center px-3 p-2 md:px-5 md:py-2 hover:bg-gray-200">7</a>


{% if products.paginator.num_pages > 1 %}
<nav aria-label="Page navigation">
    <ul class="pagination flex justify-content-center">
        {% if products.paginator.num_pages != 1 %}
        <li class="page-item">
            <a class="page-link bg-blue-500 text-white px-3 py-2 rounded-md" href="?page=1">First</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <span class="page-link bg-gray-300 text-gray-500 px-3 py-2 rounded-md">First</span>
        </li>
        {% endif %}

        {% if products.has_previous %}
        <li class="page-item">
            <a class="page-link bg-blue-500 text-white px-3 py-2 rounded-md"
                href="?page={{ products.previous_page_number }}">&laquo;</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <span class="page-link bg-gray-300 text-gray-500 px-3 py-2 rounded-md">&laquo;</span>
        </li>
        {% endif %}

        {% for i in products.paginator.page_range %}
        {% if products.number == i %}
        <li class="page-item">
            <span class="page-link bg-blue-500 text-white px-3 py-2 rounded-md">{{ i }}<span
                    class="sr-only">(current)</span></span>
        </li>
        {% elif products.number > i|add:"-5" and products.number < i|add:"+5" %}<li class="page-item">
            <a class="page-link bg-blue-500 text-white px-3 py-2 rounded-md" href="?page={{ i }}">{{ i}}</a>
            </li>
            {% endif %}
            {% endfor %}

            {% if products.has_next %}
            <li class="page-item">
                <a class="page-link bg-blue-500 text-white px-3 py-2 rounded-md"
                    href="?page={{ products.next_page_number }}">&raquo;</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link bg-gray-300 text-gray-500 px-3 py-2 rounded-md">&raquo;</span>
            </li>
            {% endif %}

            {% if products.paginator.num_pages != products.number %}
            <li class="page-item">
                <a class="page-link bg-blue-500 text-white px-3 py-2 rounded-md"
                    href="?page={{ products.paginator.num_pages }}">Last</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link bg-gray-300 text-gray-500 px-3 py-2 rounded-md">Last</span>
            </li>
            {% endif %}
    </ul>
</nav>
{% endif %}